모듈 import

In [129]:
import numpy as np
import pandas as pd
import rtdl
import scipy.special
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
import torch
import torch.nn.functional as F
import zero
from sklearn.metrics import confusion_matrix, accuracy_score, mean_squared_error

평가 지표 리스트 선언

In [130]:
pd_list = []
pf_list = []
bal_list = []
fir_list = []

평가 지표 함수 선언

In [131]:
def classifier_eval(y_test, y_pred):
    cm = confusion_matrix(y_test, y_pred)
    print('혼동행렬 : ', cm)
    PD = cm[1, 1] / (cm[1, 1] + cm[1, 0])
    print('PD : ', PD)
    PF = cm[0, 1] / (cm[0, 0] + cm[0, 1])
    print('PF : ', PF)
    balance = 1 - (((0 - PF) * (0 - PF) + (1 - PD) * (1 - PD)) / 2)
    print('balance : ', balance)
    FI = (cm[1, 1] + cm[0, 1]) / (cm[0, 0] + cm[0, 1] + cm[1, 0] + cm[1, 1])
    FIR = (PD - FI) / PD
    print('FIR : ', FIR)

    return PD, PF, balance, FIR

In [132]:
device = torch.device('cpu')
# Docs: https://yura52.github.io/zero/0.0.4/reference/api/zero.improve_reproducibility.html
zero.improve_reproducibility(seed=123456)

123456

데이터 DataFrame으로 불러오기

In [133]:
dataset = pd.read_csv('C:/Users/AISELab/Desktop/train.csv', encoding='utf-8')

데이터 형태 확인

In [134]:
print(dataset.info)

<bound method DataFrame.info of         Unnamed: 0      id  Gender      Customer Type  Age   Type of Travel  \
0                0   70172    Male     Loyal Customer   13  Personal Travel
1                1    5047    Male  disloyal Customer   25  Business travel
2                2  110028  Female     Loyal Customer   26  Business travel
3                3   24026  Female     Loyal Customer   25  Business travel
4                4  119299    Male     Loyal Customer   61  Business travel
...            ...     ...     ...                ...  ...              ...
103899      103899   94171  Female  disloyal Customer   23  Business travel
103900      103900   73097    Male     Loyal Customer   49  Business travel
103901      103901   68825    Male  disloyal Customer   30  Business travel
103902      103902   54173  Female  disloyal Customer   22  Business travel
103903      103903   62567    Male     Loyal Customer   27  Business travel

           Class  Flight Distance  Inflight wifi service  \
0       Eco Plus              460                      3
1       Business              235                      3
2       Business             1142                      2
3       Business              562                      2
4       Business              214                      3
...          ...              ...                    ...
103899       Eco              192                      2
103900  Business             2347                      4
103901  Business             1995                      1
103902       Eco             1000                      1
103903  Business             1723                      1

        Departure/Arrival time convenient  ...  Inflight entertainment  \
0                                       4  ...                       5
1                                       2  ...                       1
2                                       2  ...                       5
3                                       5  ...                       2
4                                       3  ...                       3
...                                   ...  ...                     ...
103899                                  1  ...                       2
103900                                  4  ...                       5
103901                                  1  ...                       4
103902                                  1  ...                       1
103903                                  3  ...                       1

        On-board service  Leg room service  Baggage handling  Checkin service  \
0                      4                 3                 4                4
1                      1                 5                 3                1
2                      4                 3                 4                4
3                      2                 5                 3                1
4                      3                 4                 4                3
...                  ...               ...               ...              ...
103899                 3                 1                 4                2
103900                 5                 5                 5                5
103901                 3                 2                 4                5
103902                 4                 5                 1                5
103903                 1                 1                 4                4

        Inflight service  Cleanliness  Departure Delay in Minutes  \
0                      5            5                          25
1                      4            1                           1
2                      4            5                           0
3                      4            2                          11
4                      3            3                           0
...                  ...          ...                         ...
103899                 3            2                           3
103900                 5            4                           0
103901                 5            4                           7
103902                 4            1                           0
103903                 3            1                           0

        Arrival Delay in Minutes             satisfaction
0                           18.0  neutral or dissatisfied
1                            6.0  neutral or dissatisfied
2                            0.0                satisfied
3                            9.0  neutral or dissatisfied
4                            0.0                satisfied
...                          ...                      ...
103899                       0.0  neutral or dissatisfied
103900                       0.0                satisfied
103901                      14.0  neutral or dissatisfied
103902                       0.0  neutral or dissatisfied
103903                       0.0  neutral or dissatisfied

[103904 rows x 25 columns]>

데이터 결측치 확인

In [135]:
print(dataset.isna().sum())

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

데이터 세트 X, y 분류

In [136]:
X_all = dataset.drop(['satisfaction'], axis=1)
y_all = dataset[['satisfaction']]

레이블 인코딩

In [137]:
le = LabelEncoder()
le.fit(y_all)
y_all = le.transform(y_all)
print(y_all)

[0 0 1 ... 0 0 0]

c:\Users\AISELab\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

X 확인

In [138]:
X_all

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,5,4,3,4,4,5,5,25,18.0
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,1,5,3,1,4,1,1,6.0
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,5,4,3,4,4,4,5,0,0.0
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,2,5,3,1,4,2,11,9.0
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,5,3,3,4,4,3,3,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,...,2,2,3,1,4,2,3,2,3,0.0
103900,103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,...,5,5,5,5,5,5,5,4,0,0.0
103901,103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,...,5,4,3,2,4,5,5,4,7,14.0
103902,103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,...,1,1,4,5,1,5,4,1,0,0.0
103903,103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,...,1,1,1,1,4,4,3,1,0,0.0

y 확인

In [139]:
y_all = pd.DataFrame(y_all, columns = ['satisfaction'])
y_all

        satisfaction
0                  0
1                  0
2                  1
3                  0
4                  1
...              ...
103899             0
103900             1
103901             0
103902             0
103903             0

[103904 rows x 1 columns]

필요없는 feature 제거

In [140]:
X_all = dataset.drop(['Unnamed: 0'], axis=1)
X_all

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied